<h3 class='ui header'>Listen to Soundcloud tracks and playlists in real time with your friends. Just follow these four easy steps.</h3>

<h4 class='ui header'>1. <%= link_to 'Create a room', new_room_path %></h4>

<h4 class='ui header'>2. Enter a Soundcloud track or playlist URL.</h4>

<%= image_tag 'help1.png', class: "ui centered image" %>

<h4 class='ui header'>3. Share the room with your firends.</h4>

<%= image_tag 'help2.png', class: "ui centered image" %>

<h4 class='ui header'>4. Listen together!</h4>
