<a href="http://www.facebook.com/sharer/sharer.php?u=<%= url %>&title=<%= title %>"
   class="ui facebook circular icon button"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=150,width=600');return false;">
  <i class="facebook icon"></i>
</a>
